header {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px;
}

.search-bar {
  width: 360px;
  border-radius: 21px;
}

.search-button {
  border: none;
  border-radius: 21px 0 0 21px;
  background-color: #f2f2f2;
  padding-left: 14px;
}

.input-search {
  border: none;
  background-color: #f2f2f2;
  border-radius: 0 21px 21px 0;
}

.input-search:focus {
  box-shadow: none;
  background: #f2f2f2
}

.nav-link {
  color: #8a8a8a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.nav-link.active {
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.btn-create {
  color: #2e2e2e;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cancel-btn {
  top: 10px;
  right: -25px;
}

.custom-modal-header {
  color: #008a45;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.custom-input {
  border-radius: 2px 2px 0 0;
  border: 1px solid #d9d9db;
  background: #f7f8fa;
}

.pass-btn {
  right: 10px;
}

.button-signup {
  border-radius: 2px;
  border: 0.6px solid #d9d9db;
  background: #fff;
}

.info {
  color: #000;
  opacity: 0.6;
  text-align: right;
  font-family: IBM Plex Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.088px;
}

.custom-bg-container {
  background: url("./assets/home.jpg") center center / cover no-repeat;
  height: 440px;
}

.background-text {
  justify-content: space-between;
}

.join-group {
  color: #fff;
  border: 0.8px solid #ffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.join-group:hover {
  color: #fff;
  background-color: #0003;
}

.navigation-main {
  max-width: 1040px;
  height: 68px;
  background: rgb(255, 255, 255);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.write-btn {
  background: rgb(242, 242, 242);
}

.leave-btn {
  border: 0.8px solid rgb(152, 152, 153);
}

hr {
  max-width: 1040px;
}

main {
  max-width: 1040px;
}

.custom-main {
  top: 22px;
  padding: 0 16px;
}

.text-main-posts {
  color: #212529;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.14px;
}

.filter-btn {
  background: #f1f3f5;
  color: #212529;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.post-section {
  max-width: 692px;
  border-color: rgb(224, 224, 224);
  fill: rgb(255, 255, 255);
}

.imagePost {
  height: 220px;
  border-radius: 4px 4px 0 0;
  background-color: #c4c4c4;
}

.custom-post-link {
  border-radius: 10px;
  border: 0.7px solid #a9aeb8;
  background: #fff;
}

.input-text {
  outline: none;
  border: none;
}

.location-info {
  color: #000;
  opacity: .5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-recommended {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.follow {
  background: #edeef0;
}

.circle-write-post {
  height: 54px;
  width: 54px;
  background: linear-gradient(180deg, #ff5c5c, #f0568a);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .08)) drop-shadow(0px 2px 4px rgba(0, 0, 0, .18));
}

@media (max-width: 992px) {
  .custom-bg-container {
    height: 236px !important;
  }
}

@media screen and (min-width: 992px) {
  .background-text {
    justify-content: end;
  }

  .posts-center {
    flex: 1 0 auto;
  }
}
